body {
  box-sizing: border-box;
  border: 1px solid black;
  font-family: Helvetica, serif, sans-serif;
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 20px 40px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

span.title {
  flex-grow: 2;
  font-size: 18px;
}

.cart {
  flex-grow: 0;
  box-shadow: 2px 2px;
  padding: 5px 10px;
  background-color: white;
  font-size: 12px;
  border: 1px solid grey;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.sidenav {
  border-right: 1px solid black;
  flex-grow: 0.5;
}

h4.sidetitle {
  background-color: lightgrey;
  padding: 15px 30px;
  margin: 0;
  font-style: normal;
  border-bottom: 1px solid black;
}

.sidenav ul {
  padding: 0;
}
.sidenav li {
  list-style: none;
  padding: 10px;
  margin: 10px 20px;
}

.sidenav a {
  text-decoration: none;
  color: black;
}

.sidenav a:hover {
  background-color: lightgreen;
}

.main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h2.groceries {
  padding-left: 40px;
  margin: 0;
}

h3.produce, h3.deli {
  font-style: italic;
  margin-left: 40px;
}

.item {
  display: flex;
  justify-content: space-around;
}

.item-info {
  display: inline-flex;
  padding: 10px;
  margin: 5px;
}

.name {
  width: 200px;
}

button.item-info {
  box-shadow: 2px 2px;
  padding: 5px 10px;k
  margin-right: 5px;
  background-color: white;
  font-size: 15px;
  border: 1px solid grey;
}
